body {
    margin: 0;
    padding: 0;
    font: 14px 'Poppins', Arial, Helvetica, sans-serif;
}

section {
    position: relative;
    height: 100vh;
    width: 100%;
}

img {
    max-width: 100%;
}

.page-1{
    top: 0;
    left: 0;
    z-index: 1;
}

/* old crop  */
#section-1 img {
    height: 100vh;
    width: 100%;
    object-fit: contain;
}

/* new crop  */
.MAC img, .lightleft img, .lightright img {
    height: auto !important;
    width: 100%;
}

.page-1 img, img#page-2, img#page-3 {
    height: 100vh;
    width: 100%;
    object-fit: cover !important;
}

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #000000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -150px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000000 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

.gundam {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 17;
}

#section-3 {
    position: relative;
}
h2{
    position: relative;
    color: white;
    left: 2500px;
    bottom: 1300px;
    font-size: 100px;
}

p{
    position: relative;
    color: black;
    left: 2500px;
    bottom: 1300px;
    font-size: 100px;

}
#section-3 .gundam {
    display: none;
}

#section-3 .show {
    display: block;
}

.lightleft {
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 16;
<<<<<<< HEAD
    width: 34%;
=======
   
>>>>>>> 4f5f6add3c88c879a9c74e1113d3241e958dec91
}

.lightleft img {
    /* LG: Change img size */
    
}

.lightright{
    position: absolute;
    z-index: 16;
    bottom: 10%;
    right: 8%;
    width: 34%;
}

.glass{
    position: absolute;
    z-index: 3;
}

.flower{
    
    position: absolute;
    top: -300px;
    z-index: 3;
}
.poster{
   
    position: absolute;
    top:-300px;
    z-index: 2;
}
.bamax {
    position: absolute;
    z-index: 4;
}

.basketball {
    position: absolute;
    z-index: 2;
}

.center {
    position: absolute;
    z-index: 2;
}

.MAC {
    position: absolute;
    z-index: 5; 
    bottom: 20%;
    left: 45%;
    height: auto;
    width: 12%;
    z-index: 100;
}

.note {
    position: absolute;
    z-index: 3; 
}

.orange {
    position: absolute;
    z-index: 4; 
}

.pc1 {
    position: absolute;
    z-index: 3; 
}

.pc2 {
    position: absolute;
    z-index: 3; 
}

.pokemon_switch_1 {
    position: absolute;
    z-index: 4;
}

.pokemon_switch_2 {
    position: absolute;
    z-index: 4;
}
.starbucks {
    position: absolute;
    z-index: 4;
}

.watch {
    position: absolute;
    z-index: 4;
}
.page-2 {
    position: relative;
    width: auto;
    bottom: 100px;
    z-index: 1;
    
}

.page-3 {
    position: relative;
    width: auto;
    bottom: 100px;
    size: 200px;
 
}

.page-4{
    position: relative;
    width: auto;
    bottom: 100px;
}

#section-4 {
    background: #000000;
}