
.page-1IMG{
    position:absolute;
    width: 35vw;
    


}

.gundamIMG {
    position: absolute;
    z-index: 1;
}


.IMG-page2 {
    position:absolute;
    z-index:1;
}

.IMG-page3 {
    width: auto
}

.IMG-page4 {
    width: auto
}